html { 
    height: 100% 
 }
 body { 
    margin: 0; 
    padding: 0; 
    height: 100% ;
   
 }
 .side-drawer { 
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1520945324934-48a8edb3c64e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    position: fixed;
    top: 0;
    right: 0;
    width: 75%;
    z-index: 200;
    box-shadow: 1px 0px 7px rgba(0,0,0,0.5); 
    overflow: scroll;
    padding: 10px;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
 }
 .side-drawer.open {
    transform: translateX(0);
 }
 .drawer-info{
    background-color: rgb(10, 10, 10, .6);
 }
 .dev-tools{
    color: gold;
    font-weight: 700;
    letter-spacing: 2.0px;
    background-color: rgb(17, 17, 17, 0.8);
    border-top: 1px double gold;
    border-left: 1px double gold;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 }
 .dev-tools-title{
    color: lavender;
 }
 .p-summary{
   color: lavender;
   font-weight: 400;
   background-color: rgb(17, 17, 17, 0.8);
   border-bottom: 1px double gold;
   border-right: 1px double gold;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
 }

 .summary-title{
   color: gold;
   letter-spacing: 2.0px;
   border-bottom: 1px solid gold;
   font-weight: 400;
 }
 .summary-body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 .gif-desc{
    width: 100%;
    color: black;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    background: rgba(204, 188, 44);;
    padding: 5px;
    letter-spacing: 2.0px;
    border-top: 1px double gold;
    border-bottom: 1px double darkcyan;
 }
 .links{
   color: darkcyan;
  background: gold;
   border: 1px solid gold;
   border-radius: 5px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }