.btnClass{
    color: #0099CC; 
    background: transparent; 
    border: 2px solid #0099CC;
    border-radius: 6px; 
    border: none;      
    color: white;      
    padding: 10px 26px;      
    text-align: center;      
    display: inline-block;      
    font-size: 16px;      
    margin: 4px 2px;      
    transition-duration: 0.4s;     
     cursor: pointer;      
     text-decoration: none;      
     text-transform: uppercase;
}
.btn1 { background-color: rgb(22, 18, 18, 0.6);       
        color: linen;    
        border: 2px solid linen;
    }

.btn1:hover {
        background-color: gold;
        color: rgb(5, 5, 90);
        font-weight: 700; 
}