.home{
    color: linen;
}
.subtitle {
    color: black;
    background-color: rgba(204, 188, 44, 0.9);
    font-weight: 400;
    padding:0.5rem;
    font-style: italic;
    border-top: 2px solid goldenrod;
    border-bottom: 2px solid darkcyan;
}