.home{
    color: linen;
}
.subtitle {
    color: black;
    background-color: rgba(204, 188, 44, 0.9);
    font-weight: 400;
    padding:0.5rem;
    font-style: italic;
    border-top: 2px solid goldenrod;
    border-bottom: 2px solid darkcyan;
}

/* PROJECTS */

.projects-container{
    background-color: rgb(12, 11, 11, 0.8);
    margin-top: 1.5rem;
    border-bottom: 2px double goldenrod;
    border-top: 2px double goldenrod;
}

.Projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:1rem;
  
}
.p-image{
    width: 60%;
    height: auto;
    border: 2px solid linen;
}